html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body{
  background: url(../img/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff !important;
}
.wrapper{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.overlay:before{
  animation: grain 1s steps(10) infinite;
  -webkit-animation: grain 1s steps(10) infinite;
  background-image: url(../img/grains.png);
  content:"";
  height: 300%;
  left: -50%;
  opacity: 0.48;
  position: fixed;
  top: -110%;
  width: 300%;
}

@-webkit-keyframes grain {
  0%, 100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  10% { -webkit-transform: translate(-5%, -10%); transform: translate(-5%, -10%); }
  20% { -webkit-transform: translate(-15%, 5%); transform: translate(-15%, 5%); }
  30% { -webkit-transform: translate(7%, -25%); transform: translate(7%, -25%); }
  40% { -webkit-transform: translate(-5%, 25%); transform: translate(-5%, 25%); }
  50% { -webkit-transform: translate(-15%, 10%); transform: translate(-15%, 10%); }
  60% { -webkit-transform: translate(15%, 0%); transform: translate(15%, 0%); }
  70% { -webkit-transform: translate(0%, 15%); transform: translate(0%, 15%); }
  80% { -webkit-transform: translate(3%, 35%); transform: translate(3%, 35%); }
  90% { -webkit-transform: translate(-10%, 10%); transform: translate(-10%, 10%); }
}

@keyframes grain {
  0%, 100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  10% { -webkit-transform: translate(-5%, -10%); transform: translate(-5%, -10%); }
  20% { -webkit-transform: translate(-15%, 5%); transform: translate(-15%, 5%); }
  30% { -webkit-transform: translate(7%, -25%); transform: translate(7%, -25%); }
  40% { -webkit-transform: translate(-5%, 25%); transform: translate(-5%, 25%); }
  50% { -webkit-transform: translate(-15%, 10%); transform: translate(-15%, 10%); }
  60% { -webkit-transform: translate(15%, 0%); transform: translate(15%, 0%); }
  70% { -webkit-transform: translate(0%, 15%); transform: translate(0%, 15%); }
  80% { -webkit-transform: translate(3%, 35%); transform: translate(3%, 35%); }
  90% { -webkit-transform: translate(-10%, 10%); transform: translate(-10%, 10%); }
}

.menu-btn{
  position: fixed;
  margin: 1.2em;
  right: 0;
  z-index: 1;
}

button{
  border: none;
  background: none;
}

button:focus{
  outline: none !important;
}

i{
  outline: none;
  padding: 0.8em;
  color: #fff;
  border: 1px solid #000;
  background: #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.row, .col-lg{
  margin: 0 !important;
  padding: 0 !important;
}

.col-lg{
  height: 100vh;
}

.col-lg.overlay{
  background: #000;
  position: absolute;
  top: 100%;
}

ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;
  font-family: Poppins;
}

li:not(:last-child){
  margin-right: 120px;
}

li:first-child:hover::before{
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -150px;
  background: url(../img/hover_one.jpg);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  animation: fade-in 2s ease-in-out;
  -webkit-animation: fade-in 2s ease-in-out;
}

li:nth-child(2):hover::before{
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -100px;
  background: url(../img/hover_two.jpg);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  animation: fade-in 2s ease-in-out;
  -webkit-animation: fade-in 2s ease-in-out;
}

li:nth-child(3):hover::before{
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -100px;
  background: url(../img/hover_three.jpg);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  animation: fade-in 2s ease-in-out;
  -webkit-animation: fade-in 2s ease-in-out;
}

li:nth-child(4):hover::before{
  content: "";
  z-index: -1;
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: -180px;
  left: -100px;
  background: url(../img/hover_four.jpg);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  animation: fade-in 2s ease-in-out;
  -webkit-animation: fade-in 2s ease-in-out;
}

@-webkit-keyframes fade-in{
  0%{
    opacity: 0;
    top: -160px;
  }
  50%{
      opacity: 1;
      top: -180px;
  }
  100%{
    opacity: 1;
    top: -180px;
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
    top: -160px;
  }
  50%{
      opacity: 1;
      top: -180px;
  }
  100%{
    opacity: 1;
    top: -180px;
  }
}

@media(max-width: 900px){
  li{
    text-align: center;
    display: block !important;
    margin: 0 !important;
    padding: 20px 0;
  }
  li:hover::before{
    width: 0 !important;

  }
}